<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <title>日付計算 - DATE_Operation</title>
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
  </head>
  <body>
    <div class="container">
      <h1>日付計算式一覧</h1>
      <table class="table">
        <thead>
          <tr>
            <th>No</th>
            <th>計算式ID</th>
            <th>計算式名称</th>
            <th>計算式(年/月/日)</th>
            <th>月末日取得</th>
            <th>計算結果</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="dateOperation:${dateOperations}" th:object="${dateOperation}">
            <td th:text="*{id}"></td>
            <td th:text="*{operationId}"></td>
            <td th:text="*{operationName}"></td>
            <td th:text="*{operationYear}+'/'+*{operationMonth}+'/'+*{operationDay}"></td>
            <td th:text="*{monthEnd eq 1}?'有':'無'"></td>
            <td th:text="*{result}"></td>
            <td><a class="btn btn-default btn-xs" th:href="@{/{id}(id=*{id})}">参照</a></td>
            <td>
           	  <a class="btn btn-default btn-xs" th:href="@{/{id}/edit(id=*{id})}">編集</a>
           	<td/>
           	<td>
           	  <form th:action="@{/{id}(id=*{id})}" th:method="delete">
              <input class="btn btn-default btn-xs" type="submit" value="削除" />
              </form>
           	</td>
            <td></td>
          </tr>
        </tbody>
      </table>
      <a class="btn btn-default" href="/new">新規登録</a>
      <a class="btn btn-default" href="/criteria">基準日設定</a>
    </div>
  </body>
</html>